.intro{
display: flexbox;
background-color: rgb(179, 144, 144); 
font-style:italic;
background: url() no-repeat;
font-weight: 1000;
border-top: 0cqmin rgb(69, 59, 59);
border-left: 0dvi grey;
border-right: 0cap grey;
padding: 22%;
}
.supporting{
    background:url(bleach-tybw-op-3-64-uhq-wallpapers-link-with-all-in-the-v0-cokluukjq9xd1.png) rgb(159, 155, 155);
padding: 22%;
position: relative;
}