.intro{
display: flexbox;
background-color: rgb(179, 144, 144); 
font-style:italic;
background: url() no-repeat;
font-weight: 1000;
border-top: 0cqmin rgb(69, 59, 59);
border-left: 0dvi grey;
border-right: 0cap grey;
padding: 22%;
}
.supporting{
 
 background: url(110403.jpg) no-repeat;  
 padding-right: 30%;
 text-decoration-color: azure;

}
.summary{
    background-color: white;
}